# CORS
ORIGIN="http://localhost:5173"

# Supabase DB
DATABASE_URL="postgresql://postgres.[PROJECT-REF]:[PASSWORD]@aws-0-[REGION].pooler.supabase.com:5432/postgres"
SUPABASE_URL="https://[PROJECT-REF].supabase.co"
SUPABASE_SECRET_KEY=""

# Better Auth
BETTER_AUTH_SECRET=""



